addict==2.2.1
blessings==1.7
cycler==0.10.0
cython==0.29.21
future==0.18.2
gpustat==0.6.0
kiwisolver==1.2.0
matplotlib==3.3.0
mmcv==1.0.5
mmcv-full==1.0.5
mmpycocotools==12.0.3
nvidia-ml-py3==7.352.0
opencv-python==4.3.0.36
pandas==1.1.1
psutil==5.7.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pyyaml==5.3.1
seaborn==0.10.1
terminaltables==3.1.0
thop==0.0.31-2005241907
yapf==0.30.0
addict==2.2.1
blessings==1.7
certifi==2020.6.20
cycler==0.10.0
Cython==0.29.21
future==0.18.2
kiwisolver==1.2.0
matplotlib==3.3.0
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mmcv==1.0.5
mmcv-full==1.0.5
mmpycocotools==12.0.3
numpy
nvidia-ml-py3==7.352.0
olefile==0.46
opencv-python==4.3.0.36
pandas==1.1.1
Pillow
psutil==5.7.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scikit-learn
scipy
seaborn==0.10.1
six
terminaltables==3.1.0
thop==0.0.31.post2005241907
threadpoolctl
torch==1.6.0
torchvision==0.7.0
xmltodict==0.12.0
yapf==0.30.0
